.Container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.FormWrapper {
  background: aliceblue;
  max-width: 500px;
  border-radius: 30px;
  padding: 30px 20px;
}

.Input {
  margin: 10px 0;
  width: 92%;
  display: block;
  border: none;
  background: #bdc8c8;
  border-radius: 10px;
  outline: none;
  padding: 10px 15px;
  font-size: 18px;
}