.Container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.Contact {
  padding-bottom: 30px;
}

.FormWrapper {
  background: #CF8F2E;
  max-width: 500px;
  border-radius: 30px;
  padding: 30px 20px;
  margin: 0 auto;
}

.Input {
  margin: 10px 0;
  width: 92%;
  display: block;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 10px 15px;
  font-size: 18px;
  color: #CF8F2E;
}

.Input::placeholder {
  color: #CF8F2E;
}

.FormButton {
  background: #fff;
  color: #CF8F2E;
  padding: 12px 20px;
  border-radius: 10px;
}